.activity {
    position: relative;    
  
    @include fullScreen() {
      margin: 4rem 0;
    }
    
  
    &__toggle {
      outline: none;
      border: none;     
      position: absolute; 
      top: -2%;
      right: 2%;    
      z-index: 10;    
      cursor: pointer;
      @include activityBackdrop;
    }
  
    &__image {
      flex: 1;
      width:100%;
      
    }
  
    &__user {
      display: flex;
      flex-direction: column;
    }
  
    &__details {  
      position: relative;  
      
  
      @include smallScreen() {
        flex-direction: row;
        flex: 3;    
        display: flex;
        flex-direction: column;
      }    
      
      &__title {
          flex: 1;
          order: 0;
          align-self: flex-start;
          position: relative;
  
        @include fullScreen() {
          position: absolute;
          left: 3%;
          top: -4%;
          @include activityBackdrop;       
          font-size: 3rem;
        }
                  
      }
  
      &__user {        
        @include fullScreen() {
          position: absolute;
          right: 3%;
          bottom: -9%;        
          @include activityBackdrop;  
        }
      }
     
    }
  
    &__list {
      position: absolute;
      top:0;
      bottom:0;
      right:-10vw;
      flex: 1;
      display: flex;    
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;      
      padding: 1rem;    
      width: 0;
      background: rgba(255,255,255,0.5);
      backdrop-filter: blur(3px);
      transition: 0.3s width ease-in-out;

      &-enter-done {
        width: 100%;
        right: 0;
      }
  
      &_blur {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #222;
        opacity: 0.15;
        filter: blur(10px);
      }
  
      &__item {
        width: 50%;
      }
    }
  }


  .image {
    &-details {
      flex: 1;
      align-items: flex-start;
      display: flex;
  
      &__user {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 2rem;                  
  
        &__headshot {
          border-radius: 50%;
        }
  
        &__name {
          align-self: center;
          padding-left: 1rem;
          page-break-after: always;
        }
  
        &__social {
          width: 100%;
          padding: 1rem 0rem;
        }
      }
    }
  }