/* ALL HERO CSS */
.hero {
    min-height: 100vh;
    position: relative; 
    
    &-content {
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem;
        color: #f8f8f8;

        &_title {
          order: 1;
          opacity: 0;
          margin-top: 100%;
          transition: 0.2s ease-in margin, 0.35s ease-in opacity;

          &-enter-done {
            margin-top: 0;
            opacity: 1;
          }
        }

        &_subtitle {
          order: 0;
          text-transform: uppercase;
          opacity: 0.5;          
        }

        &_description {
          order: 2;
         
          @include fullScreen() {
            padding-right: 45%;
          }
        }

        &_options {
          order: 3;
          display: flex;
          align-items: flex-end;
          flex: 1;
          .col-3 {
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            padding: 1rem;
          }

          @include smallScreen() {
            flex-direction: column;
            justify-content: flex-end;
          }
        }
    }

  &_img, &_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: -1;
  }

  &_overlay {
    background: rgba(0,0,0,0.7);
  }
  
  &_content {
      color: white;
  }

  .container {
      top: 5vh;
  }

}  